*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, sans-serif;
}

/* NAVBAR */
nav{
  background:#000;
  color:#fff;
  padding:15px 40px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  position:sticky;
  top:0;
  z-index:100;
}

nav ul{
  display:flex;
  gap:20px;
  list-style:none;
}

nav a{
  color:white;
  text-decoration:none;
  position:relative;
}

nav a::after{
  content:"";
  width:0;
  height:2px;
  background:gold;
  position:absolute;
  left:0;
  bottom:-5px;
  transition:0.3s;
}

nav a:hover::after{
  width:100%;
}

/* HERO SECTION */
.hero{
  height:100vh;
  background:url("image/hotel2.jpg") center/cover no-repeat;
  color:white;
  display:flex;
  flex-direction:column;
  justify-content:center;
  padding-left:50px;
}

.hero h1,
.hero p,
.hero .btn{
  opacity:0;
  transform:translateY(40px);
  animation:fadeUp 1s ease forwards;
}

.hero p{ animation-delay:0.3s; }
.hero .btn{ animation-delay:0.6s; }

@keyframes fadeUp{
  to{
    opacity:1;
    transform:translateY(0);
  }
}

/* BUTTON */
.btn, button{
  background:linear-gradient(to right, #4facfe, #00f2fe);
  padding:10px 20px;
  width:fit-content;
  margin-top:15px;
  text-decoration:none;
  color:#fff;
  border:none;
  cursor:pointer;
  transition:0.3s;
}

.btn:hover, button:hover{
  background:linear-gradient(to right, #00c6ff, #0072ff);
  transform:scale(1.05);
}

/* PAGE HEADER */
.page-header{
  background:#333;
  color:white;
  padding:40px;
  text-align:center;
}

/* SECTIONS */

/* CARDS */
.cards{
  display:flex;
  gap:20px;
  flex-wrap:wrap;
  justify-content:center;
}
.section{
  padding:50px;
  text-align:center;
}

.card, .room-card{
  background:#f4f4f4;
  padding:20px;
  width:220px;
  border-radius:10px;
}


.card:hover, .room-card:hover{
  transform:translateY(-10px);
  box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

.room-card img{
  width:100%;
  border-radius:10px;
}

/* CONTACT FORM */
.contact-form{
  max-width:400px;
  margin:auto;
  display:flex;
  flex-direction:column;
  gap:10px;
}

.contact-form input, textarea{
  padding:10px;
}

/* FOOTER */
footer{
  background:black;
  color:white;
  text-align:center;
  padding:15px;
}

/* RESPONSIVE */
@media(max-width:768px){
  .hero{
    padding:20px;
    text-align:center;
  }
}